{% extends "djangoapp/index.html" %}
{% block content %}
    <div class="col-md-6 mt-5">
        <div class="content-section">
            <h3></h3>
            <p class="text-muted">You can contact us with:
                <ul class="list-group ml-5">
                    <li class="list-group-item list-group-item-light"><strong>Phone number:</strong> +123-456-8934</li>
                    <li class="list-group-item list-group-item-light"><strong>Email:</strong> testing@example.com</li>
                </ul>
            </p>

        </div>
    </div>
{% endblock %}