<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-table-filter@1.0.2/src/bootstrap-table-filter.min.css" rel="stylesheet">
</head>

    <body>
    <!--Add a nav bar here -->
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand mr-4" href="{% url 'djangoapp:dealership-list' %}">Best Cars</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="nav navbar-nav navbar-right">
                        <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:contact-us' %}">Contact Us</a>
                    </div>
                </div>
                <div class="navbar-nav">
                    <a class="navbar-brand mr-4" href="{% url 'djangoapp:login' %}">Dealership Review</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"></span>       
                    </button>
                    {% if user.is_authenticated %}
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <div class="nav navbar-nav navbar-right">
                                    <a class="btn btn-link" href="{% url 'djangoapp:about' %}">({{ user.username }})</a>
                                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                                    <a class="btn btn-link" href="add_review">Add Review</a>
                                
                            </div>
                        </div>
                    {% else %}
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <a class="btn btn-primary" href="{% url 'djangoapp:login' %}" >Login</a>
                            <a class="btn btn-link" href="{% url 'djangoapp:register' %}">Sign Up</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            </nav>
        </header>

        <main role="main" class="container mt-5">
            <div class="row">
                <div class="col-md-11">
                    <!--messages display logic-->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table-filter@1.0.2/dist/bootstrap-table-filter.min.js"></script>
    </body>

</html>
